.imgss
{
    height:150px;
    width:100%;
    padding-top: 50px;
    text-align: center;
}


.navbar
{
    height: 50px;
    width:100%;
    text-align: center;
}

ul li
{
   list-style: none;
}

ul li a 
{
    text-decoration: none;
    padding: 20px;
    font-family: sans-serif;
    color: black;
    font-weight: bold;
}
.black
{
    width:45%;
    height:70px;
    text-align: center;
    margin: auto;
    background-color: #252525;
    line-height: 70px;
}

.black h1
{
    color:aliceblue;
    font-size: 40px;
}

.cont1
{
    width: 50%;
    margin: auto;
    padding: 10px;
}

.cont1 input
{
    width:100%;
    height: 60px;
    text-align: center;
    border: 2px solid black;
}
.cont2
{
    width: 50%;
    margin: auto;
    padding: 10px;
}
.cont2 input
{
    width:100%;
    height: 120px;
    text-align:center;
    border: 2px solid black;
}
.button
{
    width: 10%;
    height: 60px;
    margin: auto;
    background-color: black;

}
.button h1
{
    line-height: 60px;
    color: white; 
    text-align: center;
}
.footer
{
    height: 120px;
    width: 100%;
    background-color:#252525;
}
.ftext
{
    height: 120px;
    width: 50%;
    float: left;
}
.ftext p
{
    color: white;
    margin: auto;
    text-align: center;
    line-height:120px;
}
.flogo
{
    height: 120px;
    width: 50%;
    float: left;
    text-align: center;
    padding-top: 35px;
}
.flogo i
{

    text-align: center;
    font-size: 28px;
    color: white;
    border: 2px solid white;
    padding: 10px;
    
}

